* {
    margin: 0%; 
    padding: 0%;
}
.contenedor{
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline;
    background-image: url(../imagenes/anime/fondo_anime_3.jpg);
    overflow: auto;
}
.primera_caja{
    background-color: rgba(255, 255, 255, 0.274);
    color: black;
    margin-bottom: 2%;
    padding-top: 0.15%;
    padding-left: 5%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid black;
}
.titulo_categoria{
    padding-left: 2%;
    margin-bottom: 1%;
}
.enlace_inicio{
    color:white;
    font-size: 125%;
}
.enlace_inicio:link{
    color: white;
    text-decoration: none;
    margin-left: 2%;
    width: 100%;
}
.enlace_inicio:hover{
    background-color: rgb(0, 41, 128);
    color: white;
    border-radius: 5px;
}
.segunda_caja{
    height: 60%;
    width: 75%;
    margin-top: 5%;    
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.primera_columna{
    float: left;
    height: 100%;
    width: 25%;
    background-color: rgba(33, 13, 37, 0.75);    
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 1px solid black;
}
.titulo_caja{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 150%;
    margin-top: 2%;
}
.imagen_caja{
    margin-top: 5%;
    height: 80%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}
img{
    height: 100%;
    width: 100%;
}
.duracion_caja{
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 150%;
    font-weight: bolder;
}
.segunda_columna{
    float: left;
    height: 100%;
    width: 69%;
    background-color: rgba(33, 13, 37, 0.75);    margin-left: 0.5%;
    border-radius: 20px 0px 0px 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.votos_caja{
    text-align: right;
    margin-top: 1%; 
    height: 10%;
    width: 100%;
}
.boton{
    font-size:100%;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:80px;
    height:40%;
    border-radius: 20px;
}
.boton:hover{
    color: purple;
    background-color: white;
}
.ano_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    margin-left: 5%;
    height: 10%;
    width: 100%;
}
.directores_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    margin-left: 5%;
    height: 10%;
    width: 100%;
}
.reparto_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    margin-left: 5%;
    height: 10%;
    width: 100%;
}
.sinopsis_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    height: 55%;
    margin-left: 5%;
    width: 95%;
}
.tercera_columna{
    float: left;
    height: 100%;
    width: 2%;
    background-color: rgba(33, 13, 37, 0.75);
    border-radius: 0px 20px 20px 0px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
