* {
    margin: 0%; 
    padding: 0%;
}
html, body{
    height: 100%;
}
.contenedor{
    height: 100%;
    width: 100%;
    padding-top: 1%;
    background:linear-gradient(150deg, rgb(35, 29, 37), rgb(116, 56, 0), rgb(35, 29, 37));
    overflow: auto;
}
.primera_caja{
    background-color: black;
    width: 90%;
    margin-left: 5%;
    color: white;
    margin-bottom: 2%;
    border-radius: 20px;
    height: 7%;
}
.titulo_categoria{
    padding-left: 2%;
}
.enlace_inicio{
    color:white;
}
.enlace_inicio:link{
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 2%;
}
.enlace_inicio:hover{
    background-color: purple;
    color: white;
    border-radius: 5px;
}
.segunda_caja{
    height: 85%;
    width: 90%;
    margin-left: 5%;
}
.primera_columna{
    float: left;
    height: 100%;
    width: 25%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.titulo_caja{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 150%;
    margin-top: 2%;
}
.imagen_caja{
    margin-top: 5%;
    height: 80%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}
img{
    height: 100%;
    width: 100%;
}
.duracion_caja{
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 150%;
    font-weight: bolder;
}
.segunda_columna{
    float: left;
    height: 100%;
    width: 69%;
    background-color: black;
    margin-left: 1%;
    border-radius: 20px 0px 0px 20px;
}
.votos_caja{
    text-align: right;
    margin-top: 1%; 
    height: 10%;
    width: 100%;
}
.boton{
    font-size:100%;
    font-weight:bold;
    color:white;
    background:#943600;
    border:0px;
    width:80px;
    height:40%;
    border-radius: 20px;
}
.boton:hover{
    color: purple;
    background-color: white;
}
.ano_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    margin-left: 5%;
    height: 10%;
    width: 100%;
}
.directores_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    margin-left: 5%;
    height: 10%;
    width: 100%;
}
.reparto_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    margin-left: 5%;
    height: 10%;
    width: 100%;
}
.sinopsis_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    height: 55%;
    margin-left: 5%;
    width: 95%;
}
.tercera_columna{
    float: left;
    height: 100%;
    width: 5%;
    background-color: black;
    border-radius: 0px 20px 20px 0px;
}