* {
    margin: 0%; 
    padding: 0%;
}
.contenedor{
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline;
    background-image: url(../imagenes/anime/fondo_anime_3.jpg);
    overflow: auto;
}
.primera_caja{
    background-color: black;
    color: white;
    margin-bottom: 2%;
    padding-top: 0.15%;
    padding-left: 5%;
    padding-bottom: 0.5%;
}
.titulo_categoria{
    padding-left: 2%;
    margin-bottom: 1%;
}
.enlace_inicio{
    color:white;
    margin-right: 2%;
    font-size: 125%;
}
.enlace_inicio:link{
    color: white;
    text-decoration: none;
    margin-left: 2%;
}
.enlace_inicio:hover{
    background-color: rgb(0, 41, 128);
    color: white;
    border-radius: 5px;
}
.boton_desplegable{
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-size: 125%;
    width: 55%;
}
.desplegable{
    position: relative;
    display: inline-block;
    width: 11.75%;
}
.contenido_desplegable{
    width: 101%;
    display: none;
    position: absolute;
    background-color: rgb(0, 41, 128);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 125%;
}
.contenido_desplegable a{
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
.contenido_desplegable a:hover {
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
}
.desplegable:hover .contenido_desplegable {
    display: block;
    border-radius: 0px 5px 5px 5px;
}
.desplegable:hover .boton_desplegable {
    background-color: rgb(0, 41, 128);
    padding-left: 5%;
}
.segunda_caja{
    height: 35%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0.5%;
}
.primera_columna{
    float: left;
    height: 100%;
    width: 25%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.titulo_caja{
    color: white;
    text-align: center;
    font-size: 125%;
    width: 100%;
    margin-top: 2%;
}
.imagen_caja{
    margin-top: 3%;
    height: 70%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}
img{
    height: 100%;
    width: 100%;
}
.duracion_caja{
    color: white;
    text-align: center;
    margin-top: 1%;
    font-size: 125%;
    font-weight: bolder;
}
.segunda_columna{
    float: left;
    height: 100%;
    width: 64%;
    background-color: black;
    margin-left: 1%;
    border-radius: 20px 0px 0px 20px;
}
.votos_caja{
    color: white;
    text-align: right;
    font-size: 125%;
    font-weight: bolder;
    margin-top: 1%; 
    height: 10%;
    width: 100%;
}
.sinopsis_caja{
    color: white;
    text-align: justify;
    font-size: 150%;
    height: 55%;
    margin-left: 5%;
    width: 95%;
    margin-top: 5%;
}
.enlace_caja{
    color: white;
    text-align: right;
    font-size: 125%;
    font-weight: bolder;
    width: 100%;
}
.enlace_ficha{
    color:white;
}
.enlace_ficha:link{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.enlace_ficha:hover{
    background-color: rgb(0, 41, 128);
    color: white;
    border-radius: 5px;
}
.tercera_columna{
    float: left;
    height: 100%;
    width: 10%;
    background-color: black;
    border-radius: 0px 20px 20px 0px;
}
