* {
    margin: 0px; padding: 0px;
} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color: rgb(23, 173, 161);
    height: 25%;
}
.segunda_caja{
    background-color: red;
    height: 50%;
}
.tercera_caja{
    background-color: yellow;
    height: 25%;
}
.primera_columna{
    float: left;
    height: 100%;
    width: 33%;
    background-color: green;

}
.segunda_columna{
    float: left;
    height: 100%;
    width: 33%;
    background-color: white;
}
.tercer_columna{
    float:left;
    height: 100%;
    width: 33%;
    background-color: red;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}
h1{
    padding-left: 5%;
}
ul{
    padding-top: 5%;
    padding-left: 15%;
}