* {
    margin: 0%;
    padding: 0%;
}

.contenedor {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(143, 199, 255);
    overflow: scroll;
}

.caja_1 {
    width: 100%;
    height: 10%;
}

.caja_2 {
    width: 100%;
    height: 90%;
}
.col_2 {
    height: 100%;
    width: 15%;
    float: left;
}
h1{
    text-align: center;
    padding-top: 1%;
    font-size: 300%;
    color: burlywood;
    -webkit-text-stroke: 3px black;
}

h2 {
    text-align: center;
    margin-top: 5%;
    color: burlywood;
    -webkit-text-stroke: 3px black;
}

.parejas_c {
    margin-top: 15%;
}

/*.parejas_sf {
    margin-top: 10%;
}*/

.parejas_f {
    margin-top: 15%;
}

.jugador_c {
    width: 80%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: azure;
    font-size: x-large;
    margin: auto;
    margin-bottom: 3%;
    overflow: auto;
}

.jugador_sf {
    width: 80%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: azure;
    font-size: x-large;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 33%;
}

.jugador_f {
    width: 80%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: azure;
    font-size: x-large;
    margin: auto;
    margin-top: 68%;
}

.jugador_g {
    width: 80%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: azure;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110%;
}