*{
    margin: 0%;
    padding: 0%;
}
.contenedor{
    width: 100%;
    height: 100%;
    position: absolute;  
    background-color: mediumslateblue;
    overflow-x: scroll;
}
.caja_1{
    width: 100%;
    height: 10%;
    background-color: rgba(210, 105, 30, 0.664);
}
.caja_2{
    width: 100%;;
    height: 90%;
}
.col_1{
    height: 100%;
    width:4%;
    float: left;
}
.col_2{
    height: 100%;
    width:20%;
    float: left;
}
h2{
    text-align: center;
}
.parejas{
    background-color: rgba(0, 0, 0, 0.5);
}
.jugador_c{
    padding: 1%;
    margin-top: 15%;
    border: 2px solid black;
    border-radius: 45px;
    text-align: center;
}
.jugador_sf{
    padding: 1%;
    margin-top: 33.5%;
    border: 2px solid black;
    border-radius: 45px;
    text-align: center;
}
.jugador_f{
    padding: 1%;
    margin-top: 61%;
    border: 2px solid black;
    border-radius: 45px;
    text-align: center;
}
.jugador_g{
    padding: 1%;
    margin-top: 94%;
    border: 2px solid black;
    border-radius: 45px;
    text-align: center;
}