* {
    margin: 0%;
    padding: 0%;
}
.contenedor {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(143, 199, 255);
}
.caja1 {
    width: 100%;
    height: 10%;
}
.caja2 {
    width: 100%;
    height: 90%;
    overflow: auto;
}
.col1{
    height: 100%;
    width: 2%;
    float: left;
}
.col2 {
    height: 100%;
    width: 15%;
    float: left;
}
h1{
    text-align: center;
    padding-top: 1%;
    font-size: 300%;
    color: burlywood;
    -webkit-text-stroke: 3px black;
}

h2 {
    text-align: center;
    margin-top: 5%;
    color: burlywood;
    -webkit-text-stroke: 3px black;
}
.parejasC {
    margin-top: 15%;
}
/*.parejas_sf {
    margin-top: 10%;
}*/
.parejasF {
    margin-top: 15%;
}
.jugadorC {
    width: 100%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-size: x-large;
    margin: auto;
    margin-bottom: 3%;
    overflow: auto;
}
.jugadorSF {
    width: 100%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-size: x-large;
    margin: auto;
    margin-top: 33%;
    overflow: auto;
}
.jugadorF {
    width: 100%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-size: x-large;
    margin: auto;
    margin-top: 68%;
    overflow: auto;
}
.jugadorG {
    width: 100%;
    padding: 3% 0.5%;
    border: 5px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110%;
    overflow: auto;
}
.imagen{
    border: 5px solid black;
    background-color: antiquewhite;
    width: 25%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    float: left;
}